/* Global */
.bar {
    width:100%;
    overflow:hidden;
}
.bar::before, .bar::after {
    content:"";
    display:table;
    clear:both;
}
.bar * {
    display: block;
}

/* Title */
.title {
    text-align: center;
}

/* Header */
.header {
    padding: 0px 8px;
}
.header .bar {
    padding-bottom: 16px;
}
.header a {
    padding:8px 16px;
    float:left;
    width:50%;
    margin: 0px;
}
.header h4 {
    margin: 0px;
}

/* Content */
.content {
    max-width: 80%;
    margin: auto;
    margin-top: 16px;
}
.education h4, .employment h4 {
    margin-bottom: 0;
}
.education h5, .employment h5 {
    margin-top: 0;
}
.skills table tr td, .skills ul li, .info ul li, .education ul li, .employment ul li {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
}
.skills table tr:first-child td, .skills ul li:first-child, .info ul li:first-child, .education ul li:first-child, .employment ul li:first-child {
    border-style: none;
    padding-top: 8px;
}
.skills table tr:last-child td, .skills ul li:last-child, .info ul li:last-child, .education ul li:last-child, .employment ul li:last-child {
    border-style: none;
    padding-bottom: 16px;
}
.education h4, .employment h4 {
    margin-bottom: 0;
}
.education h5, .employment h5 {
    margin-top: 0;
}

/* Project */
.projectCard {
    position: relative;
    padding: 8px;
    margin:  16px 8px;
}
.projectCard::before, .projectCard::after {
    content: '';
    display: table;
    clear: both;
}
.projectCard h3 {
    float: left;
    margin: 0px;
    padding: 8px 16px;
}
.projectCard button {
    float: right;
    margin: 8px;
}
.projectPhotos {
    position: relative;
    text-align: center;
    float: left;
    width: 25%;
    padding: 8px;
}
.projectSlide img {
    height: auto;
    max-width: 100%;
}
.projectDescription {
    float: left;
    width: 75%;
    padding: 8px;
}

/* Code Container */
.underlay {
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}
.codeContainer {
    position: relative;
    height: 80%;
    width: 80%;
}
.codeContainer .codeContent {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.codeContainer .codeContent pre {
    margin: 0px;
}
.codeContainer .codeContent pre code {
    padding: 1%;
    white-space: pre-wrap;
}
.codeContainer .codeButton {
    position: absolute;
    top: 0px;
    right: 17px;
}

/* Footer */
.footer {
    padding: 0px 8px;
    text-align: center;
}
.footer a {
    margin: 8px 0px;
}
.footer img {
    display: inline;
}
#github {
    float: left;
    margin: 8px 0px;
}
#twitter {
    float: right;
    margin: 8px 0px;
}

/* Medium */
@media screen and (min-width: 601px) and (max-width: 992px) {
    /*Content*/
    .content {
        max-width: 100%;
    }

    /*Code Container*/
    .codeContainer {
        width: 100%;
    }
    .codeContainer .codeButton {
        right: 0px;
    }
}
/* Small */
@media screen and (max-width: 600px) {
    /*Content*/
    .content {
        max-width: 100%;
    }

    /* Project */
    .projectPhotos {
        float: none;
        width: 100%;
    }
    .projectDescription {
        float: none;
        width: 100%;
    }

    /*Code Container*/
    .codeContainer {
        width: 100%;
    }
    .codeContainer .codeButton {
        right: 0px;
    }

    /* Footer */
    #github {
        display: none;
    }
    #twitter {
        display: none;
    }
}