/*Skills*/
.skills table tr td {
    padding-bottom: 0;
}
.skills ul li {
    border-style: none;
    padding-bottom: 0;
}
.skills ul li:last-child {
    padding-bottom: 16px;
}

/*Information*/
.info ul li {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
}
.info ul li:first-child {
    border-style: none;
    padding-top: 16px;
}
.info ul li:last-child {
    border-style: none;
    padding-bottom: 16px;
}

/*Education*/
.education h4 {
    margin-bottom: 0;
}
.education h5 {
    margin-top: 0;
}
.education ul li {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
}
.education ul li:first-child {
    border-style: none;
    padding-top: 8px;
}
.education ul li:last-child {
    border-style: none;
    padding-bottom: 16px;
}

/*Employment*/
.employment h4 {
    margin-bottom: 0;
}
.employment h5 {
    margin-top: 0;
}
.employment ul li {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
}
.employment ul li:first-child {
    border-style: none;
    padding-top: 8px;
}
.employment ul li:last-child {
    border-style: none;
    padding-bottom: 16px;
}

/*Code Container*/
.underlay {
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}
.codeContainer {
    position: relative;
    height: 80%;
    width: 80%;
}
.codeContainer .codeContent {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.codeContainer .codeContent pre {
    margin: 0px;
}
.codeContainer .codeContent pre code {
    padding: 1%;
    white-space: pre-wrap;
}
.codeContainer .codeButton {
    position: absolute;
    top: 0px;
    right: 17px;
}
@media screen and (maxwidth: 992) {
    .codeContainer .codeButton {
        right: 0px;
    }
}